@media (max-width: 575px) and (min-width: 320px) {
    .nav-link{
        text-align: center;
    }
    header{
        height: 100vh;
    }
    header .logo{
        width: calc(160px + (180 - 160) * (100vw - 320px) / (575 - 320));
    }
    header .left{
        padding-top: 4rem;
        text-align: center;
    }
    header .right{
        display: none;
    }
    header .header{
        padding-top: 20px;
        display: flex;
        flex-wrap: nowrap;
    }
    header .h_img{
        width: 8vw;
    }
    .popular_burger .left .img_bx,
    .popular_burger .right .img_bx{
        margin-bottom: 10px;
    }
    .popular_burger .right .img_bx .content{
        left: 15px;
    }
    .tasty_burger p{
        margin-bottom: 1rem;
    }
    .tasty_burger .content .img_bx{
        width: 75vw !important;
        min-height: calc(240px + (340 - 190) * (100vw - 320px) / (575 - 320));
        display: inline-block;
    }
    .tasty_burger .content .img_bx.img_custom{
        width: 75vw !important;
        min-height: calc(255px + (380 - 190) * (100vw - 320px) / (575 - 320)) !important;
    }
    .tasty_burger .content{
        margin: auto;
        margin-top: 5vh;
    }
    .reservation .img_bx_1,
    .reservation .img_bx_2,
    .reservation .img_bx_3{
        width: 30vh;
    }
    .reservation .img_bx_1{
        top: 88%;
        left: 5%;
    }
    .reservation .img_bx_3{
        top: 85%;
    }
    footer .bg{
        padding: 20px;
    }
    footer a{
        text-align: center;
    }
    footer .logo_2{
        width: 70vw;
    }
    footer .content i{
        min-width: 30px;
        justify-content: flex-start;
    }
    footer .footer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }
    .footer p{
        margin: 0;
    }
}